.poster {
  width: 100%;
  padding-top: 160%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}


.item-movie {
  box-shadow: 0 4px 4px rgb(0 0 0 / 12%), 0 0 10px rgb(0 0 0 / 6%);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 40px;
}


.short-detail-movie {
  min-height: 180px;
}
