body {
  min-height: 75rem;
  padding-top: 6rem;
}

.poster {
  width: 100%;
  padding-top: 140%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}


.item-movie {
  background-color: rgb(222, 222, 220);
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 65%) 3px 3px 10px;
  overflow: hidden;
  margin-bottom: 40px;
  background: #fff;
}


.short-detail-movie {
  min-height: 180px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: red;
}
